nav{
	background-color: rgb(100,100,100);
	text-decoration: none;
	padding: 10px;
	position: relative;

}
.logo{
	height: 30px;
	width: 30px;
}
a{
	padding: 40px;
	text-decoration: none;
}
.right{
	
	text-align: : left;
	padding-top: -1000px;
}
body{
	background-color: rgba(50,50,50,0.5);
}
.red{background-color: hsla(20,20%,50%);


}
.size{
	height: 100px;
	width: 200px;
}
.cen{
	text-align: center;
}
#color{
	color: gold;
}
.col{
	background-color: #cccccc;
}
h3{
	text-align: center;
	font-style: italic;
	font-family: arial;
	color: rgb(80,35,00);
}
.pos{
	text-align: center;
}
	.co{
	background-color: #ffffff;
	margin-left: 30px;
	margin-right: 30px;
	font-style: oblique;
	font-weight: 200;
	font-size: 50px;
}
h4{
	font-weight: 30;
	font-size: 40px;
	font-style: oblique;
	font-size: 50px;

	
}
.left{

	text-align: center;
	padding-top: 40px
}
.do{
	height: 400px;
	width: 400px;
	padding-bottom: 10px
}
.middle{
	text-align: center;
	border: 1px solid black;
	border-style: dotted;
	border-radius: 100px;
	background-position: center;
	opacity: 3
}

#col{
	background-color: white;
}
.cos{
	text-align: center;
}
.or{
	margin-left: 500px;
}
.ro{
	font-size: 30px;
	font-family: serif;
	font-weight: 50px;

}
.br{
	height: 400px;
	width: 400px; 
	margin-left: 50px;
	
}
.pad{
	padding-left: 50px;
	padding-top: -100px
}
.bot{
	text-rendering: geometricPrecision;
	font-family: cursive;
	font-size: 40px;
	padding: -200px;
}
.pop{
	font-size: 20px;
	color: rgb(255,0,0);
}
.gh{
	height: 440px;
	width: 440px;
}
.write{
	font-size: 50px;
	color: rgb(0,0,50);
text-align: center;
}
#none{
	background-color: white;
}
.xx{
	text-align: center;
	padding: -800px;
	font-size: 50px;
	
}
.coll{
	background-color: rgb(100,100,100);
}
.kk{
	height: 400px;
	width: 300px;
}
.nn{
	padding: 0px;
	text-decoration: none;

}
.tt{
	height: 400px;
	width: 400px;
.bod{
	background-color: #gfcdab;
}
